/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 55px;
  background: black;
  color: white;
}
nav *{
  float: left;
  width: 10%;
  color: white;
  display: block;
}
nav ul{
  width: 50%;
}
nav form input{
  width: 100%;
}

main > section{
  border: 0.1em white solid;
  margin: 0.1em;
  width: 49.5%;
  height: 450px;
  float: left;
}
main > section img{
  width: 100%;
  height: auto;
}
main section + section section{
  width: 50%;
  height: 225px;
  float: left;
  border: 0.05em solid white;
}
main + section > section{
  width: 33.3333%;
  border: 0.05em solid white;
  float: left;
}
main + section > section img{
  width: 100%;
  height: auto;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
