* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* use container with nav to make the sections go beloow the nav
*/
.container {
  position: relative;
}
nav {
  position: absolute;
  left: 0px;
  width: 200px;
  background-color: rgb(238, 136, 136);
}

section {
  /* position is static by default */
  margin-left: 200px;
  background-color: rgb(165, 194, 97);
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
body {
  margin-bottom: 120px;
  background-color: rgb(80, 100, 90);
}