/* Three columns with float
section {
  float: left;
  margin: 0 1.5%;

  width: 30%;
  
  two columns width: 63%;
}
*/

section {
  display: inline-block;
  margin: 0 1.5%;
  width: 30%;
}
aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}